body {
  font-family: "Montserrat", sans-serif;
}

/* <   HEADER CSS   > */
header {
  background: #bbbbbb;
  padding: 20px 0;
}

.caixa {
  position: relative;
  width: 940px;
  margin: 0 auto;
}

nav {
  position: absolute;
  top: 110px;
  right: 0;
}

nav li {
  display: inline-block;
  margin: 0 0 0 15px;
}

nav a {
  text-transform: uppercase;
  color: #000000;
  font-weight: bold;
  font-size: 22px;
  text-decoration: none;
}

nav a:hover {
  color: #c78c19;
  text-decoration: underline;
}

/* <   FOOTER CSS   > */
footer {
  text-align: center;
  background: url("../images/produtos/bg.jpg");
  padding: 40px 0;
}

.copyright {
  color: #ffffff;
  font-size: 13px;
  margin-top: 20px;
}

@media screen and (max-width: 480px) {
  .caixa {
    width: auto;
  }

  h1 {
    text-align: center;
  }

  nav {
    position: static;
    text-align: center;
  }
}
