html {
  margin: 0;
  padding: 0;
  border: 0;
}

.titulo-principal {
  padding-left: 20px;
}

#banner {
  width: 100%;
}

.principal {
  background: #cccccc;
  padding: 30px;
}

.titulo-centralizado {
  text-align: center;
}

p {
  text-align: center;
}

#missao {
  font-size: 20px;
}

em strong {
  color: red;
}

.beneficios {
  background: #ffffff;
  padding: 20px;
}

.lista-benecifios {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  margin-right: 15%;
}

.itens {
  font-size: 20px;
  font-style: italic;
}

.imagem-beneficios {
  width: 50%;
}
